.inputPageBlock.js-inputWrapView
	h2 入力

	.sectionBlock.basicSettingBlock.js-basicSettingView
		.accordionWrap.js-toggleWrap
			p.accordionTrigger.js-toggleTrigger 基本設定
			.accordionContent.js-toggleContent.hide
				.formWrap
					dl
						dt ウデマエ
						dd
							select#basicInputUdemae
								option(value="none") 設定しない
								- var udemae = ['S+','S','A+','A','A-','B+','B','B-','C+','C','C-'];
								each val in udemae 
									option(value="#{val}")= val
					dl
						dt ルール
						dd
							select#basicInputRule
								option(value="none") 設定しない
								- var rules = ['ナワバリ','エリア','ヤグラ','ホコ'];
								each val in rules
									option(value="#{val}")= val
					dl
						dt ステージ
						dd
							ul.checkList.basicStage#basicInputStage
								li
									input(value="none" name="basicInputStage" id="basicInputStage_none") 
									label(for="basicInputStage_none") 設定しない

					dl
						dt ブキ
						dd
							select#basicInputWeapon
								option(value="none") 設定しない

					dl
						dt コメントテンプレート
						dd
							textarea#basicInputComment
					.buttonWrap
						p.button.js-toggleClose 閉じる
	.sectionBlock.js-inputFormView
		h3 戦績
		form#input
			.formWrap
				.colWrap
					dl.col2
						dt Kill
						dd
							input(type="number" id="inputKill")
					dl.col2
						dt Death
						dd
						input(type="number" id="inputDeath")
				dl
					dt ステージ
					dd
						ul.checkList.inputStage#inputStageWrap
				dl
					dt 勝敗
					dd
						ul.radioList.result
							- var result = [{val:0,name:'ノックアウト勝ち'},{val:1,name:'タイムアップ勝ち'},{val:2,name:'タイムアップ負け'},{val:3,name:'ノックアウト負け'}]
							each val in result
								li
									input(type="radio" name="inputResult" value="#{val.val}" id="inputResult_#{val.val}")
									label(for="inputResult_#{val.val}")= val.name
				dl
					dt コメント
					dd
						textarea#InputComment
			.submitWrap
				p
					label.submitArea.button(for="inputSubmit") 登録
						button(type="submit" id="inputSubmit")